#carousel{
     position: relative;
     top: 8rem;
     height: 84.78vh;
     width: 100%;
     overflow: hidden;

       #inner{
        height: 84vh;
        width: 100%;

         

          img{
            height: 100vh;
           width: 100%;
           filter: brightness(77%);
          }

          #caption{
              position: relative;
              top: -77.8vh;
              left: 0;

                p{
                    font-size: 34.2px;
                    color: $primaire;
                    font-family: $font2;
                    text-shadow: 0.5px 0.5px 4px (rgba(46, 44, 44, 0.918));
                    font-weight: bold;
                }

                h1{
                    font-size: calc(1.92rem + 1.3vw);
                    font-weight: 600;
                    font-family: $font1;
                    width: 60%;
                    text-shadow: 0.5px 0.5px 4px (rgba(46, 44, 44, 0.918));
                    margin-left: 20%;
                }

                button{
                    color: $color1;
                    margin-top: 2.17rem;
                    background-color: $secondary;
                    text-shadow: 0.5px 0.5px 4px (rgba(46, 44, 44, 0.918));
                    padding: 11px;
                    font-size: 18px;
                    padding-left: 2rem;
                    padding-right: 2rem;
                    font-weight: bold;
                }
          }  

         
       }
}