@import './../settings.scss';



.nav {
   position: fixed;
   z-index: 85;
   width: 100%;

   &_primary {
      width: 100%;
      height: 3rem;
      background-color: $secondary;

      .icones {
         margin-top: 0.7rem;
         gap: 30px;



         .email {


            h1 {
               font-size: 19px;
               color: #fff;

            }

            &_icone {
               color: #fff;
            }
         }

         .phone {

            .icone {
               color: #fff;
            }


            h1 {
               font-size: 19px;
               color: #fff;

            }
         }

         .reseaux_sociaux {
            margin-top: -0.2rem;
            gap: 32px;

            img {
               margin-left: 16px;
            }

         }
      }
   }

   &_secondary {
      width: 100%;
      height: 5rem;
      background-color: #fff;

      .logo {
         margin-top: 0.3rem;
         margin-left: 3%;


         img {
            width: 68px;
            height: 70px;
         }

         h1 {
            font-size: calc(1.2rem + 1.2vw);
            margin-top: 1rem;
            font-weight: bold;
            font-family: $font1;
            color: $color2;

            span{
               color: $primaire;
               font-weight: bold;
               font-family: $font1;
           }
         }
      }
   }

   &_toggle {
      float: right;
      justify-content: space-between;
      align-items: center;
       position: relative;
       left: -2%;
      margin-top: -4.4rem;

      ul {
         gap: 35px;

         li {
            text-transform: capitalize;

            a {
               text-decoration: none;
               font-weight: bold;
               color: $color2;
               width: 0;
               text-transform: capitalize;


                 .icon{
                  font-size: 19.4px;
                 }

                 &:hover {
                  color: $primaire;
                  position: relative;
                  
   
                  &::after {
                     content: "";
                     position: absolute;
                     transition: 0.4s ease-in;
                     width: 100%;
                     border-radius: 13px;
                     bottom: -7px; // Ajustez selon vos besoins
                     left: 0;
                     height: 3.2px; // Hauteur de la surbrillance
                     background-color: $primaire;
                  }
               }
            }

         }

         .active1{
            color: $primaire;
            position: relative;

            &::after {
               content: "";
               position: absolute;
               width: 109%;
               bottom: -7px; // Ajustez selon vos besoins (peut être différent de :hover)
               left: 0;
               height: 3.2px;
               border-radius: 13px; // Hauteur de la surbrillance (peut être différent de :hover)
               background-color: $primaire;
            }
         }

         .contact{
            position: relative;
            LEFT: 1.4%;
         }

      }

   }

   .version {
      float: right;
      position: relative;
      left: 1.5%;
      top: 0.2rem;


      h1 {
         font-size: 16px;
         font-weight: bold;
         color: $color2;


         
      }
   }
}